/* Got the type writing animation solution from Kevin Powell's video */
/* Link: https://www.youtube.com/watch?v=w1nhwUGsG6M&ab_channel=KevinPowell */
h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: rgb(100 116 139);
  animation: typewriter 3.5s steps(28) forwards
}

h1::after {
  width: 0.12em;
  background: black;
  animation: typewriter 3.5s steps(28) forwards, blink 800ms 4s infinite
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}